.navlinks {
    padding: 50px;
    color: white;
    font-weight: bold;

}

.container-fluid {
    background-color: #636e72;
    /* width: 100% */
}

h1 {
    color: white;
    font-family: "Mclaren";
    font-weight: 100;
}

/* .navbar {
    width: 100%;
} */

